body {												
				background-image: linear-gradient(45deg, cyan, yellow);												
				aling-center: center;										   				      				justify-content: center;										
				display: flex;									
							}


div{
			aling-center: center;							 									       			background-color: rgba(0, 0, 0,	0.9);
			position: absolute;		 				
			padding: 50px;							 												  			border-radius: 5%;							 				
			color: white;		
							 			
			}					 
							 			
input{							 				
				padding: 5px;							 									  				 				font-size: 15px;							 				
				outline: none;							 
							 			
					}							 
button{
				background-color: blue;							 							 			  border: none;
			  padding: 10px;							 				
				width: 100%;
				color: white;							 														 				border-radius: 6%;
				 }